/* --------------------------------------------------------------------------------
                                Common
-------------------------------------------------------------------------------- */
::selection {
    background-color:#333;
    color:#fff;
}
::-moz-selection {
    background-color:#333;
    color:#fff;
}
body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    font-weight:300;
    color:#333;
}
a, a:focus, a:hover {
    transition: .6s;
    outline: 0;
    text-decoration: none;
}
img {
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {}
h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 15px 0px;
}
p {}
ol, ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
button:focus,
button:active,
input:focus,
input:active {
    outline:none;
    box-shadow:none;
}
.heading {
    font-size:44px;
    font-weight:700;
    text-transform: uppercase;
    margin-bottom:20px;
}
.heading span {
    font-size:28px;
    font-weight:500;
    color:#a58838;
    display: block;
    text-transform: capitalize;
}
/* --------------------------------------------------------------------------------
                            Bootstrap Edit
-------------------------------------------------------------------------------- */
.btn {

}
.btn:focus,
.btn:active,
.btn:hover {

}
.form-control {

}
.form-control:focus {

}
.navbar-toggler-icon {
    background-image:url(../images/toggle.svg);
}
/* --------------------------------------------------------------------------------
                            Section Nav
-------------------------------------------------------------------------------- */
#section_nav {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    padding-top:60px;
    min-height: 600px;
}
/* --------------------------------------------------------------------------------
                            Navbar
-------------------------------------------------------------------------------- */
#cs_navbar {}
.navbar {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}
#cs_navbar .navbar-brand {
    padding: 0px;
    margin: 0px;
    max-width: 200px;
}
#cs_navbar .navbar-brand img {}
#cs_navbar .nav-link {
    text-transform: capitalize;
    color: #000;
    padding: 5px 20px;
    font-weight: 400;
}
#cs_navbar .nav-link:hover,
#cs_navbar .nav-item.active .nav-link {
    color:#bf1e2e;
}
/* --------------------------------------------------------------------------------
                            Footer
-------------------------------------------------------------------------------- */
footer {
    padding-top:60px;
    background-color:#191717;
    font-size:14px;
}
footer .f_logo {
    margin-bottom:10px;
}
footer .f_logo a {
    display: inline-block;
    max-width:200px;
}
footer p {
    color:#999;
}
footer p a {
    color:#a58838;
}
footer ul.f_social {
    
}
footer ul.f_social li {
    display: inline-block;
    margin-right:5px;
}
footer ul.f_social li a {
    display: block;
    font-size:24px;
    color:#fff;
}
footer ul.f_social li a:hover {
    color:#bf1e2e;
}
footer .f_heading {
    font-weight:500;
    font-size:22px;
    color:#fff;
    padding-bottom:5px;
    position: relative;
    text-transform: capitalize;
}
footer .f_heading:after {
    content:'';
    position: absolute;
    bottom:0;
    left:0;
    width:50px;
    height:2px;
    background-color:#a58838;
}
footer .f_links {
    
}
footer .f_links li {
    margin-bottom:5px;
}
footer .f_links li a {
    color:#999;
    text-transform: capitalize;
    display: inline-block;
}
footer .f_links li a:hover {
    color:#a58838;
}
footer .f_links li a i {
    margin-right:10px;
    transition:0.6s;
}
footer .f_links li a:hover i {
    margin-right:5px;
}
footer p.con_p {
    position: relative;
    padding-left:20px;
}
footer p.con_p i {
    position: absolute;
    left:0;
    top:5px;
}
footer hr {
    border-top-color:#999;
    margin:30px 0px;
}
footer .copyright {
    margin-bottom:30px;
    text-align: center;
}